packages: 
  rpm:
    rpmforge: http://packages.sw.be/rpmforge-release/rpmforge-release-0.5.2-2.el6.rf.x86_64.rpm
  files:
    “/etc/yum.repos.d/centos.repo” :
      mode: “000722”
      owner: root
      group: root
      content: |
        [centos]
        name=CentOS-6 – Base
        baseurl=http://mirror.centos.org/centos/6/os/x86_64/
        gpgcheck=1
        gpgkey=http://mirror.centos.org/centos/RPM-GPG-KEY-CentOS-6
        enabled=1
        priority=20
        protect=1
  commands:
    command: rpm --import http://apt.sw.be/RPM-GPG-KEY.dag.txt
    command: yum-config-manager "--enable epel --setopt='priority=20' --save"
    command: yum-config-manager "--enable 'rpmforge' --setopt='priority=20' --save"
    command: yum-config-manager "--enable 'rpmforge-extra' --setopt='priority=20' --save"