files:
  "/root/s3-curl.zip":
    owner: root
    group: root
    encoding: plain
    source: http://s3.amazonaws.com/doc/s3-example-code/s3-curl.zip
commands:
    unpack_s3_curl:
      command: "unzip s3-curl.zip"
    black_magic: 
      command: 'cd /root/s3-curl;perl s3curl.pl 
--id `curl --silent http://169.254.169.254/latest/meta-data/iam/security-credentials/$(curl --silent http://169.254.169.254/latest/meta-data/iam/security-credentials/) | grep AccessKeyId | sed -e "s/.*\"AccessKeyId\" : \"//g" | sed -e "s/\",$//g"` 
--key `curl --silent http://169.254.169.254/latest/meta-data/iam/security-credentials/$(curl --silent http://169.254.169.254/latest/meta-data/iam/security-credentials/) | grep SecretAccessKey | sed -e "s/.*\"SecretAccessKey\" : \"//g" | sed -e "s/\",$//g"` 
-- 
-H "x-amz-security-token: $(curl --silent http://169.254.169.254/latest/meta-data/iam/security-credentials/$(curl --silent http://169.254.169.254/latest/meta-data/iam/security-credentials/) | grep Token | sed -e "s/.*\"Token\" : \"//g" | sed -e "s/\",$//g")"
-o /tmp/ses_credentials.txt
https://s3-ap-southeast-1.amazonaws.com/ccq-config/ses_credentials.txt
2>/tmp/s3curl.txt'
    set_up_ses_credentials:
      command: "source /tmp/ses_credentials.txt"
