<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if session[:user_id] %>
<p id="session"> Logged In (<%= link_to 'Logout', logout_path, method: :delete %>)</p>
<% end %>

<h1>Listing documents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Project</th>
      <th>Thumbnail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render(@documents.order("updated_at DESC")) %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
