<img id="image" src="/images/splash.jpg">


<div id="summary">We are building a media production management platform for broadcasters, agencies, schools and indies.</div>

<a class="button-email" style="font-size: 28px;" href="https://docs.google.com/a/cinecinetique.com/forms/d/1U5dLBEPEr_LFN4isKcICBl3i2ujBUKkQb7FWNCtph2Y/viewform">Contact Us</a>

<a class="button-twitter" style="font-size: 14px;" href="https://www.twitter.com/Cinecinetique">Follow us</a>
<a class="button-facebook" style="font-size: 14px;" href="https://www.facebook.com/Cinecinetique">Like us</a>
<a class="button-googleplus" style="font-size: 14px;" href="https://plus.google.com/110369729966375185829">Circle us</a>
