<img id="image" src="/images/splash.jpg">


<a class="button-twitter" style="font-size: 14px;" href="https://www.twitter.com/Cinecinetique">Follow us</a>
<a class="button-facebook" style="font-size: 14px;" href="https://www.facebook.com/Cinecinetique">Like us</a>
<a class="button-googleplus" style="font-size: 14px;" href="https://plus.google.com/110369729966375185829">Circle us</a>
