
    <main role="main">
        <div class="container">
            <div class="row">
                <img id="image" id="image" src="/images/lightleak.png" width="100%">
            </div>
            <div class="row">
                <div class="span6 hidden-print">

                    <div class="jumbotron">
                    <h1>Hello, creative people!</h1>
                    <p>We value strong bonding between filmmakers and their audience and we believe the key to a virtuous bonding lies in the Quality of the production ecosystem. We strive to provide a platform that will allow such an ecosystem.</p>

                    <p>We also recognise  making a film or video project at school present production challenge that need to be controlled. Our platform has been tailored to help manage media production under these conditions.</p>
                    <p>
                    <a class="btn btn-primary btn-large" href="/plans">Learn more »</a>
                    </p>
                    </div>

                </div>

                <div class="span6 hidden-print">


                    <div class="jumbotron">
                        <h1>Needs a technologist for your project?</h1>
                        <p>We can provide you with a decade experienced technology specialist. 
                        	<ul>
                        		<li>Scrum Master, technical lead and technical project management</li>
                        		<li>Software engineering for Web or media project</li>
                        		<li>Deployement and scaling on Cloud infrastructure</li>
                        	</ul>
                        </p>
                        <a class="btn btn-primary btn-large" target="_blank" href="/portfolio/">Learn more »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer><%= render 'layouts/footer' %></footer>

<!-- <a class="button-email"  href="https://docs.google.com/a/cinecinetique.com/forms/d/1U5dLBEPEr_LFN4isKcICBl3i2ujBUKkQb7FWNCtph2Y/viewform">Contact Us</a> -->

<a class="button-twitter"  href="https://www.twitter.com/Cinecinetique">Follow us</a>
<a class="button-facebook"  href="https://www.facebook.com/Cinecinetique">Like us</a>
<a class="button-googleplus"  href="https://plus.google.com/110369729966375185829">Circle us</a>
<a class="button-linkedin"  href="http://www.linkedin.com/companies/cinecinetique">Join us</a>
