<img id="image" src="/images/splash.jpg">


<div id="summary">We are making an online tool to help you manage your media productions</div>





<a class="button-email"  href="https://docs.google.com/a/cinecinetique.com/forms/d/1U5dLBEPEr_LFN4isKcICBl3i2ujBUKkQb7FWNCtph2Y/viewform">Contact Us</a>

<a class="button-twitter"  href="https://www.twitter.com/Cinecinetique">Follow us</a>
<a class="button-facebook"  href="https://www.facebook.com/Cinecinetique">Like us</a>
<a class="button-googleplus"  href="https://plus.google.com/110369729966375185829">Circle us</a>
