<main role="main">
        <div class="container">
        	<div class="row">
        	    <img id="image" id="image" src="/images/lightleak.png" width="100%">
        	</div>
            <div class="row">

            	<div class="featurette">
					<h2 class="featurette-heading">
					End-to-end support of your workflows
					<span class="muted">For all your production needs.</span>
					</h2>
					<img class="featurette-image" src="/images/platform_diagram.png">
					<p class="lead">We provide and end-to-end online platform to cover all you production needs. From Pre-production to Distribution, the platform will provide the foundation to allow your crew to efficiently complete the tasks at hand.
					</p>
				</div>

				<div class="featurette">
					<h2 class="featurette-heading">
					Always available, on any of your device
					<span class="muted">From smartphone to desktop computer</span>
					</h2>
					
					<p class="lead">Built as web application, using responsive design and HTML5 technology, the tools we provide will be at your hands reach, whichever HTML5/Javacript enabled connected device you can get your hands on.
					</p>
					<img class="featurette-image" src="/images/ccq-ipad.jpg">
				</div>


				<div class="featurette">
					<h2 class="featurette-heading">
					<!-- <img class="featurette-image pull-right" src="/images/twitter-feed.jpg"> -->
					Infuse the power of the community into you worfklow
					<span class="muted">To further develop your creativity and know-how</span>
					</h2>
					
					<p class="lead">Beyond team work, connect to the community. Whether you are a film student, a multimedia teacher, or a seasoned filmmaker, you will be able to access tips, share knowledge, find your crew, or equipment. 
					</p>
				</div>


            </div>

            <div class="row">
            	<div class="jumbotron">
            	<h1>Interested?</h1>
            	<p class="lead">Contact us if you want to know more or want to join the upcoming private beta program</p>
            	<a class="btn btn-large btn-success" href="https://docs.google.com/a/cinecinetique.com/forms/d/1U5dLBEPEr_LFN4isKcICBl3i2ujBUKkQb7FWNCtph2Y/viewform">Contact Us</a>
            	</div>
            </div>
        </div>

</main>