
<h1>Terms And conditions for using Cinecinetique software</h1>
<h2>Content</h2>
<ul>
<li>Software copyright and disclaimers</li>
<li>Ownership of content</li>
<li>Responsibilities and rights of persons interacting with this software</li>
<li>Data Policy</li>
<li>Subscription contract</li>
<li>Payment protection</li>
<li>About this agreement</li>
<li>Jurisdiction of choice</li>
<li>Prototyping phases</li>
</ul>
<h2>Software copyright and disclaimers</h2>
<p>We provide you the user software functionalities.</p>
<p>We own the copyright and intellectual properties to the software implementation (feature, code, deployment). We take no responsibilities for any damage or loss that the use of this software may incur. You use the software at your own risk.</p>
<p>We do use open source software components in this software which are governed by their own open source licences. We do open source some of our software components also governed by their open source licences.</p>
<h2>Ownership of content</h2>
<p>The content that you user upload or create on this software is not owned by us. It is yours.</p>
<p>You should not upload or create content that you don't own or that you don't have adequate licence rights.</p>
<p>The implementation of this software is owned by us and this include the web site and its constituents.</p>
<p>You should not steal, deface or re-use any artefacts and aspects that make up the implementation of this software.</p>
<h2>Responsibilities and rights of persons interacting with this software</h2>
<p>There are five types of persons who can interact with this software. They are effectively the users of the platform:</p>
<ul>
<li>Project Owner</li>
<li>Team Member</li>
<li>External Partner</li>
<li>Technical Staff of Cinecinetique ltd</li>
<li>Institutions</li>
</ul>
<p><strong>Project Owner</strong></p>
<p>The Project Owner is the user responsible for paying in exchange of access to the functionalities of this software.He must be an individual, not an organisation.</p>
<p>He is responsible for the team members on his project(s) to respect this agreement and local laws. She/he must be of age of majority (18 years old). His access to the software and content managed by this software is subject to successful authentication. She/he is only allow to view and change the project she/he has created unless she/he is invited to be a team member of another project by the project owner of that project. In which case his privilege on this later project is bound by the authorisation settings set that that project owner. She/he can create and delete user account for team members.</p>
<p><strong>Team Member</strong></p>
<p>A team member is an individual who works on a project. His access to the software and content managed by this software is subject to successful authentication and also to authorisation set up by project owner in this software. She/he is not allowed to make or contribute to the payment of the service provided by this software. She/he is not allowed to create or delete projects. She/he cannot create or delete user account for other users. She/he can modify the details of his own account. She/he can create or delete his own account. She/he can disassociate his account from a project.</p>
<p><strong>External Partner</strong></p>
<p>An external partner is an individual who doesn't have access to the authentication-restricted services provided by this software. She/he has received a communication from the software triggered by and on-behalf of either the project owner or a team member with the purpose of conducting a business with them.</p>
<p>The conclusion of such business will result in a digital document that the project owner or the team member initiating the business need to manage with this software. External partners interaction with this software is limited to:</p>
<ul>
<li>receiving email notifications</li>
<li>upload document to the public drop box area of a project space</li>
<li>Receiving files transferred through either third party services or through functionalities of this software and initiated by a project owner or a team member.</li>
</ul>
<p><strong>Technical Staff of Cinecinetique</strong></p>
<p>A staff of Cinecinetique is an individual who works as contractor or employee for Cinecinetique Ltd, makers of this software. In order to ensure proper function of this software, she/he has access to all projects and all documents and all user accounts. This exclude payment information and user passwords.</p>
<p>User passwords are encrypted one-way so no-one can read them.</p>
<p>Payment information (such as payment service login or credit card details) are encrypted with the key only a director of Cinecinetique Ltd have access to. A technical staff will also she/help with support to other users of this platform.</p>
<p><strong>Institutions</strong></p>
<p>They are organisations and they use either the platform functionalities of the software or they employ project owners or they are consultancy customers of Cinecinetique Ltd.</p>
<p>They are able to make payment for any of the three aforementioned types of usage. This agreement doesn't apply to the consultancy contract the institutions engage with Cinecinetique Ltd.</p>
<h2>Data Policy</h2>
<ul>
<li>We do not sell personal information about our customers</li>
<li>Personal information is not transmitted to other organisations</li>
<li>Personal and sensitive information is stored with encryption</li>
<li>Any user can access and edit information we hold about her/him</li>
<li>We do collect an analyse anonymised and aggregated data for the purpose of enhancing the service provided by this software</li>
<li>If and only if required by the law, we will hand over a user's personal information to the authorities</li>
</ul>
<h2>Subscription contract</h2>
<p>The use of this software is subject to the payment of a subscription:</p>
<ul>
<li>There are several subscription plans a user can choose from</li>
<li>They are all monthly subscription</li>
<li>The service is paid in advance for the next calendar month</li>
<li>The user can try its service plan of choice for 10 days</li>
<li>After 10 days, she/he can pay a pro-rata amount to cover the user of the service for the remainder of the month</li>
</ul>
<h2>Payment protection</h2>
<ul>
<li>Payment information are stored safely (encryption and use of AWS services)</li>
<li>Online transactions are using SSL and certified payment services</li>
<li>transactions are audited</li>
<li>In case of fraud, or incident during the financial transactions, the customer and Cinecinetique Ltd are protected by insurance</li>
</ul>
<h2>About this agreement</h2>
<p>We reserve the right to change the terms. However, we will give users prior notice before endorsing the new terms.</p>
<h2>Jurisdiction of choice</h2>
<p>Hong Kong SAR Department of Justice is the judicial authority relevant for this software product</p>
<h2>Prototyping phases</h2>
<p><strong>alpha version</strong></p>
<p>This version of the software is an early prototype built to test a select number of functionalities against the reality of real world usage by a limited and controlled number of testers.</p>
<p>This version won't be fully functional.</p>
<p>It will have lots of issues.</p>
<p>Functionalities offered are not guaranteed to be implemented.</p>
<p>Functionalities offered are not guaranteed to be functional.</p>
<p>Non-existing functions can be deliberately exposed to the user.</p>
<p>Users should not expect the software to work at all.</p>
<p><strong>beta version</strong></p>
<p>Cinecinetique Ltd has made best effort to ensure this version has working functionalities.</p>
<p>They may not scale with increase of user base size</p>
<p>They may not scale with increase in number and/or size of managed documents</p>
<p>There may be a high number of defects identified that prevent us to remove the beta label.</p>
<p><strong>production version</strong></p>
<p>Cinecinetique Ltd has made best effort to ensure this version has working functionalities. The rest of this agreement apply.</p>
<p><strong>alpha or beta functionalities</strong></p>
<p>Once in production mode, Cinecinetique Ltd may introduce new functionalities in alpha or beta version. The definition is the same as for the software but the scope is limited to a specific function. The rest of the functionalities are still governed by this agreement.</p>

