// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Import Fonts
------------------------------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);


/* Style for the splash image
------------------------------------------------------------ */

img { max-width: 100%; max-height: auto; }



/* Social button style overrides
------------------------------------------------------------ */

a,
a:visited {
	color: #ff2222;
	text-decoration: none;
	font-family: 'Lato', arial, serif;
	line-height: 1.5;
	font-weight: 300;
	margin: 0 0 10px;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}


h2 a,
h2 a:visited {
	color: #333;
	font-family: 'Lato', arial, serif;
}


a.button-facebook,
a.button-googleplus,
a.button-linkedin,
a.button-pinterest,
a.button-rss,
a.button-tumblr,
a.button-twitter {
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    box-shadow: 0 1px 1px #999;
    color: white;
    display: inline-block;
    font-size: 100%;
    margin: 0 20px 20px 0;
    padding: .65em 1em;
    text-align: center;
    width: 8em;
}
