// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well{margin-bottom:0;}


/* Import Fonts
------------------------------------------------------------ */

//@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import "zocial-modified" ;
@import "social-gradient" ;
@import "overlay" ;


/* Responsive setup
------------------------------------------------------------ */


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

$mq-mobile-portrait   : 320px !default;
$mq-mobile-landscape  : 480px !default;
$mq-tablet-portrait   : 768px !default;
$mq-tablet-landscape  : 1024px !default;
$mq-desktop           : 1382px !default;

// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-only {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

/* Style for the splash image
------------------------------------------------------------ */

img { max-width: 100%; max-height: auto; }

#image {
    z-index: 9; 
}

/* Style for the text
------------------------------------------------------------ */

#summary { 
    z-index:10; 
    position: absolute ; 
    top: 30%; left: 45%;
    font-size: 100%;
    font-family: 'Lato', arial, serif;
    font-weight: 300;
}


/* Social button style overrides
------------------------------------------------------------ */

a,
a:visited {
	text-decoration: none;
	font-family: 'Lato', arial, serif;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}


h2 a,
h2 a:visited {
	color: #333;
	font-family: 'Lato', arial, serif;
}


a.button-facebook,
a.button-googleplus,
a.button-linkedin,
a.button-pinterest,
a.button-rss,
a.button-tumblr,
a.button-twitter,
a.button-email {
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    box-shadow: 0 1px 1px #999;
    color: white;
    font-size: 14px;
    display: inline-block;
    margin: 0 20px 20px 0;
    padding: .65em 1em;
    text-align: center;
    position: absolute;
    top: 90%;
    z-index: 10;
    @include mobile-landscape-and-up { 
        font-size: 100%; 

    }
    @include mobile-landscape-and-below { 
        top: 80%;
        font-size: 10px;
        width: 7em

    }
    @include mobile-portrait-only {
        width: 2em
    }

}

a.button-twitter {
    left: 5%;
    @include mobile-landscape-and-below { left: 10%; }
}

a.button-facebook {
    left: 20%;
    @include mobile-landscape-and-below { left: 30%; }
}

a.button-googleplus {
    left: 35%;
    @include mobile-landscape-and-below { left: 50%; }
}

a.button-linkedin {
    left: 50%;
    @include mobile-landscape-and-below { left: 70%; }
}

a.button-email {
    left: 50%;
}

a.button-email {
    left: 40%;
    font-size: 28px;

    @include mobile-landscape-and-up {
        top: 50%;
        width: 8em;
    }

    @include mobile-landscape-and-below {
        left: 60%;
        top: 60%;
        font-size: 12px;
        width: 8em;
    }

    @include mobile-portrait-only { 
        top: 30%;
        left: 5%;
        font-size: 12px;
        width: 4em;


    }
}
