<div class="well sidebar-nav sidebar-nav-fixed">

<ul class="nav nav-list">
<li class="nav-header">Managing your project </li>
<li>Import resources from previous projects</li>
<li>Import Creative Commons resources</li>
<li>Export project</li>

</ul>

</div>