
<div class="input-prepend">
<span class="add-on"><i class="icon-search"></i></span><input id="inputIcon" type="text">
</div>
<ul class="nav nav-pills nav-stacked">
<li class="nav-header">Managing your project </li>
<% if session[:user_id] != nil %>
	<li><%= link_to 'List your projects', projects_path, :class => "btn btn-link pull-left" %></li>
<% end %>
<% if @project != nil and @project.id != nil %>
<li><%= link_to 'Edit Project Information', edit_project_path(@project), :class => "btn btn-link pull-left" %> </li>
<% else %>
<li><%= link_to 'Edit Project Information', '#', :class => "btn btn-link pull-left disabled" %> </li>
<% end %>
<li><a class="btn btn-link pull-left" href="/import_other">Import from other projects</a></li><li><a class="btn btn-link pull-left" href="/import_other">Submit project to a festival</a></li>
</uL>
<ul class="nav nav-pills nav-stacked">
<li class="nav-header">Extra Apps</li>
<li><a class="btn btn-link pull-left" href="/crowdfund">Crowdfunding Tool</a></li>
<li><a class="btn btn-link pull-left" href="/video_tools">Video Tools</a></li>
<li><a class="btn btn-link pull-left" href="/location">Location Management</a></li>
</ul>
