<ul class="nav nav-list">
<li class="nav-header">Managing your project </li>
<li> <%= link_to 'Edit Project Information', edit_project_path(@project), :class => "btn btn-link" %> </li>
<li><a class="btn btn-link" href="/import_from_other_projects">Import resources from other projects</a></li>
<li><a class="btn btn-link" href="/import_from_cc">Import Creative Commons resources</a></li>
<li><a class="btn btn-link" href="/distribute_projects">Distribute project</a></li>

</ul>
