<ul class="nav nav-pills nav-stacked">
<li class="nav-header">Managing your project </li>
<% if @project != nil %>
<li><%= link_to 'Edit Project Information', edit_project_path(@project), :class => "btn btn-link pull-left" %> </li>
<% else %>
<li><%= link_to 'Edit Project Information', '#', :class => "btn btn-link pull-left disabled" %> </li>
<% end %>
<li><a class="btn btn-link pull-left" href="/distribute_projects">Distribute project</a></li>
<li><a class="btn btn-link pull-left" href="/import_other">Import from other projects</a></li>
<li><a class="btn btn-link pull-left" href="/import_cc">Import Creative Commons</a></li>

</ul>
